*{
    margin: 10;
    padding: 50;
    font-family:'Times New Roman', Times, serif;
    box-sizing:border-box;

}


body{
    background-color: #ffffff;
}

.navbar {
    overflow: hidden;
    background-color: #0ef;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .navbar a {
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navbar a:hover {
    background: #ffffff;
    color: black;
  }

 

 

  h1{
    font-size :50px ;
display: flex;
justify-content: center;
font-family: cursive;
margin-top: 90px;
}


#container{
display: flex;
flex-wrap: wrap ;
justify-content: center;
}



#container img{
    width:20%;
    display: flex;
justify-content: center;
border-radius: 50%;
border: 5px solid #0ef;
}

#form{
    margin-top: 70px;
  }
  
  #form h2{
    display: flex;
    justify-content: center;
    font-family: cursive;
  }
  
  .form-style {
    margin:10px auto;
    width: 400px;
    padding: 20px 12px 10px 20px;
    font: 14px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  }
  
  .form-style td {
    padding: 0;
    display: block;
    list-style: none;
    margin: 10px 0 0 0;
  }
  
  .form-style label{
    margin:0 0 3px 0;
    padding:0px;
    display:block;
    font-weight: bold;
    font-family: cursive;

  }
  
  .form-style .required{
    color:red;
  }
  .form-style input[type=submit], .form-style input[type=reset]{
    background: #4eb5f1;
    padding: 8px 15px 8px 15px;
    border: none;
    color: #fff;
    font-family: cursive;

  }
  .form-style input[type=submit]:hover, .form-style input[type=reset]:hover{
    background: #4eb5f1;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
  }
  .form-style .field-textarea{
    height: 100px;
  }
  .form-style input[type=text], 
  .form-style input[type=email],
  textarea{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border:1px solid #BEBEBE;
    padding: 7px;
    margin:0px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;  
  }
  .form-style .long{
    width: 100%;
  }
  .form-style input[type=text]:focus, 
  .form-style input[type=email]:focus,
  .form-style textarea:focus{
    -moz-box-shadow: 0 0 8px #88D5E9;
    -webkit-box-shadow: 0 0 8px #88D5E9;
    box-shadow: 0 0 8px #88D5E9;
    border: 1px solid #88D5E9;
  }
  .error{
    color: #D8000C;
    background-color: #FFBABA;
  }
  
  
  @media screen and (max-width:800px) {
    
    h1 {
   
    }
  }